
{% extends "pizza/base.html" %}

{% block tytul_h1 %}
  Lista pizz
{% endblock %}

{% block tresc %}

<table class="table">
<tr><th>Lp.</th><th>Nazwa</th><th>Info</th><th>Operacje</th></tr>
{% for p in object_list %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ p.nazwa }}</td>
    <td>{{ p.autor.username }} ({{ p.data }})</td>
    <td>
        {% if p.autor.username == user.username %}
            <a href="{% url 'pizza:edytuj' p.id %}">Edytuj</a> &bull;
            <a href="{% url 'pizza:usun' p.id %}">Usuń</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}

{% block linki_ul %}
  <li><a href="http://django-maly-bar.rtfd.io">Dokumentacja aplikacji</a></li>
  <li><a href="https://www.djangoproject.com/">Django – web framework</a></li>
  <li><a href="http://django.pl/">Polska strona Django</a></li>
  <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
  <li><a href="http://www.w3schools.com/bootstrap/">Bootstrap Tutorial
  </a></li>
  <li><a href="https://www.python.org/">Python</a></li>
  <li><a href="http://python101.readthedocs.io/">Materiały Python 101</a></li>
{% endblock %}
